# manim output
media/

# latex output
*.pdf
*.aux
*.log

# pycharm stuff
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# UV
#uv.lock

# Environments
.venv/
